<h1>Show Headlines</h1>
<div *ngIf="!headlines">
  <mat-spinner id="sourceProgressSpinner"></mat-spinner>
</div>
<mat-accordion>
  <div *ngFor="let headline of headlines">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>{{headline.title}}</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p><strong>Autor:</strong> {{headline.author}}</p>
      <p><strong>Datum:</strong> {{headline.publishedAt}}</p>
      <p><strong>Text:</strong> {{headline.content}}</p>
    </mat-expansion-panel>
  </div>
</mat-accordion>
