<div id="content">
  <h1>Alle Sources aus Deutschland</h1>
  <div *ngIf="!sources">
    <mat-spinner id="sourceProgressSpinner"></mat-spinner>
  </div>
  <mat-accordion>
    <div *ngFor="let source of sources">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{source.name}}
          </mat-panel-title>
          <mat-panel-description>
            <a href="{{source.url}}"> {{source.url}} </a>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>Description: {{source.description}}</p>
        <button class="sourceBtn" mat-stroked-button color="primary" (click)="showHeadlineFromSource(source.id)">Zeige alle Headlines von "{{source.name}}"</button>

      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
